.screen-header__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.screen-header {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  padding-right: 40px;
}

.screen-header__ad {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.screen-header__ad__bank__img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.screen-header__ad__date {
  font-size: 12px;
}

.categories__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1250px;
  padding: 15px 0px;
}

.categories__side-deco {
  height: 1px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.categories__category {
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.5);
}

.categories__category:hover {
  color: seagreen;
}

.latest-news__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.latest-news {
  display: flex;
  align-items: center;
  width: 1250px;
  height: 25px;
  padding: 5px 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), white);
}

.latest-news__content {
  margin-left: 20px;
  font-size: 15px;
}

.main-screen__main-article__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.main-screen__main-article {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  height: 610px;
  padding: 25px 0px;
}

.main-screen__main-article__column-1 {
  width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-screen__main-article__column-2 {
  width: 270px;
}

.main-screen__main-article__column-3 {
  width: 290px;
  padding-left: 30px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.main-screen__main-article__column-1__h1 {
  font-weight: bolder;
  font-size: 25px;
}

.main-screen__main-article__column-1__p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.main-screen__main-article__column-1__link {
  display: flex;
  font-weight: bold;
}

.main-screen__main-article__column-1__link i {
  color: seagreen;
}

.main-screen__main-article__column-1__img__cont {
  display: flex;
  overflow: hidden;
}

.main-screen__main-article__column-1__img:hover {
  transform: scale(1.1);
}

.main-screen__main-article__column-1__img {
  transition: all 0.35s ease-in-out;
}

.main-screen__main-article__column-2__first {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 13px;
}

.main-screen__main-article__column-2__last {
  padding-top: 13px;
}

.main-screen__main-article__column-2__h1 {
  font-weight: bolder;
  font-size: 16px;
  margin: 13px 0px;
}

.main-screen__main-article__column-2__p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.main-screen__main-article__column-3__first {
  padding-bottom: 15px;
}

.main-screen__main-article__column-3__middle {
  padding: 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-screen__main-article__column-3__last {
  padding: 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-screen__main-article__column-3__content {
  display: flex;
  justify-content: space-between;
}

.main-screen__main-article__column-3__h1 {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 13px;
}

.main-screen__main-article__column-3__p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.advertisement__horiz__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.advertisement__horiz {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

.main-screen__section02__frame {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.main-screen__section02 {
  display: flex;
  justify-content: space-between;
  width: 1250px;
  margin-top: 25px;
}

.main-screen__section02__content {
}

.main-screen__section02__sid-ad {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.main-screen__section02__content__articles {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.main-screen__section02__content__articles__column-left {
  margin-right: 30px;
  padding-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 427px;
}

.main-screen__section02__content__articles__column-right {
  width: 437px;
  padding-right: 10px;
}

.main-screen__section02__content__articles__column__article {
  margin-bottom: 40px;
}

.main-screen__section02__content__articles__column-left__article__h1 {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 13px;
}

.main-screen__section02__content__articles__column-left__article__content {
  display: flex;
}

.main-screen__section02__content__articles__column-left__article__content img {
  margin-right: 10px;
}

.main-screen__section02__content__articles__column-left__article__p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.main-screen__section02__content__articles__column__article__link {
  display: flex;
  font-weight: bold;
  margin-top: 8px;
}

.main-screen__section02__content__articles__column__article__link i {
  color: seagreen;
}

.main-screen__section02__content__ad {
  margin: 40px 0px;
  background-color: #777777;
  width: 900px;
  padding-bottom: 25px;
}

.main-screen__section02__content__ad__title {
  padding: 15px 0px;
  color: white;
}

.main-screen__section02__content__contents {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.main-screen__section02__content__content-lg {
  width: 450px;
}

.main-screen__section02__content__content-lg p {
  color: white;
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.main-screen__section02__content__content-sm {
  width: 175px;
}

.main-screen__section02__content__content-sm p {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-screen__section02__sid-ad__top10-stories {
  margin-top: 20px;
}

.main-screen__section02__sid-ad__top10-stories__title {
  font-weight: 700;
}

.main-screen__section02__sid-ad__top10-stories__content-list {
  margin-top: 15px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.main-screen__section02__sid-ad__top10-stories__content-list {
  display: flex;
  flex-direction: column;
}

.main-screen__section02__sid-ad__top10-stories__content-list > div {
  display: flex;
  margin-bottom: 10px;
}

.main-screen__section02__sid-ad__top10-stories__content-list span {
  margin-right: 10px;
  color: #1fbd1a;
  font-weight: 700;
  padding-top: 3px;
}

.main-screen__section02__sid-ad__top10-stories__content-list a {
  line-height: 130%;
}
